<!DOCTYPE html>
<html>
<head>
    <title>Post</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap.min.css">
</head>
    {{{ body }}}
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
</body>
</html>